

/* CSS for GameBoard component */
.container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 520px;
    background-color: #FFFFFF;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

h1 {
    align-self: start;
    font-size: 2.5rem;
    color: rgb(247, 247, 247);

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    font-family: cursive;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 0.7rem;
    border-style: none;
    background-color: red;
    color: white;
    margin-top: 4px;
    margin-left: 55%;
}

.button:hover {
    border: 2px solid black;
    cursor: pointer;
}



.board {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 95px);
    place-items: center;
    row-gap: 11px;
    background-color: #AAE06E;
    width: 411px;
    height: 320px;
    justify-items: center;
    justify-content: center;
    border-radius: 5px;
}

.comments {
    padding: 0.25rem 1rem;
    background-color: white;
    margin-top: 40px;
    text-align: center;
    border-radius: 2rem;
}

/* CSS for Card component */
.face {
    height: 83px;
    width: 83px;
    background: #FFFFFF;
    border-radius: 5px;
}

.back {
    height: 83px;
    width: 83px;
    background-color: #2A293B;
    border-radius: 5px;
}

.item .face {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.25s;

}

.toggled .face {
    transform: rotateY(0deg);
    transition-delay: 0.25s;
}

.item .back {
    transition: all ease-in 0.25s;
    transition-delay: 0.25s;
}

.toggled .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
